/* common */
.tc{text-align: center;}
.clearfix:before,.clearfix:after{content:"";display:table;}
.clearfix:after,.clear{clear:both;}
.clearfix{zoom:1;}

/* ms-welcome-carousel */
#J_pagewelcome{overflow: hidden;}
.welcome-carousel .item{text-align: center; padding: 30px; background-color: #3fbf79; color: #fff; height: 100%;}
.welcome-carousel .owl-controls{margin-top: -100px;}

/* ui-listview */
.ui-content .ui-listview-inset, .ui-panel-inner>.ui-listview-inset{margin: 0}
.ui-listview .ui-btn{padding: 0;}
.ui-listview > li p{text-overflow: initial; word-break: break-word; white-space: initial; max-height: 2.5em;}
.ui-listview > li .img-wrap{float: left; height: 3.3em; width: 4.4em; background: transparent; position: relative; overflow: hidden; margin: .55em;}
.ui-listview > li .img-wrap img{max-width: 100%;}
.ui-listview .ui-btn{padding-right: 2em;}

/* ms-banner */
.ms-banner img{display: block; max-width: 100%; height: auto; margin: 0 auto}

/* ms-top-news */
.ms-top-news{border-left: 1px solid #e2e2e2; border-right: 1px solid #e2e2e2}
.ms-top-news > li .img-wrap{width: 90px; height: 75px;}
.ms-top-news > li p, .ms-top-news > li h4{margin: 0; max-height: 3.6em}
.ms-top-news > li p{font-size: .8em; margin-top: 5px;text-shadow: none; font-weight: normal;}

/* index page ms-grid */
.ms-grid a{text-align: center; text-decoration: none;}
.ms-grid .ui-bar{height: 40px; font-size: .8em; height: 28px; padding-top: 70px; position: relative;}
.ms-grid .fa{position: absolute; font-size: 40px; width: 40px; height: 40px; top: 50%; left: 50%; margin-top: -30px; margin-left: -20px; color: #000;}
.ms-grid{border: 1px solid #000; border-right: 0; border-bottom: 0}
.ms-grid .ui-bar-a{border: 1px solid #000; border-left: 0; border-top: 0;}

/* ms-article */
.ms-article h2{margin: .5em 0; font-size: 1em;}
.ms-article h3{font-size: .9em; font-weight: bold; margin: .6em 0;}
.ms-article h4{font-size: .85em; margin: .4em 0;}
.ms-article p{margin: .6em 0; font-size: .85em;}
.ms-article img{max-width: 100%; margin: 0 auto}

/* header btn */
.ui-header .ui-btn,
.ui-header .ui-btn:hover,
.ui-header .ui-btn:visited{
	border-radius: 0;
	height: 100%;
	top: 0;
	width: 2.8em;
	box-shadow: none;
}
.ui-header .ui-btn:after{background-size: 20px; width: 2.8em; height: 100%; margin-top: -21px; margin-left: -23px; border-radius: 0;}
.ui-header .ui-btn-left,
.ui-header .ui-btn-left:visited,
.ui-header .ui-btn-left:hover{
	border: 0;
	border-right: 1px solid #BE2121;
	left: 0;
}
.ui-header .ui-btn-right,
.ui-header .ui-btn-right:visited,
.ui-header .ui-btn-right:hover{
	border: 0;
	border-left: 1px solid #BE2121;
	right: 0;
}
.ui-header .ui-btn-left:after{border-right: 1px solid #000;}
.ui-header .ui-btn-right:after{border-left: 1px solid #000;}

/* ui-navbar */
.ui-tabs .ui-footer .ui-navbar .ui-btn,
.ui-tabs .ui-footer .ui-navbar .ui-btn:hover,
.ui-tabs .ui-footer .ui-navbar .ui-btn:visited{text-shadow: none; font-weight: normal; padding-top: 2.8em;padding-bottom:.3em; text-overflow: inherit;}
.ui-tabs .ui-footer .ui-navbar .ui-btn:active,
.ui-tabs .ui-footer .ui-navbar .ui-btn-active{text-shadow: none; box-shadow: inset 0 2px 4px rgba(0,0,0,.8);}
.ui-tabs .ui-footer .ui-navbar .ui-btn-icon-top:after{background-size: 20px;border-radius: 0;top: .4em;}

/* ui-footer */
.ui-footer{border: 0;}

/* ms-gallery */
.ms-gallery{border-left: 1px solid #252222; border-top: 1px solid #252222; box-shadow: 0 0px 2px rgba(0,0,0,.2)}
.ms-gallery .ui-block-a,
.ms-gallery .ui-block-b,
.ms-gallery .ui-block-c{border-bottom: 1px solid #252222; border-right: 1px solid #252222;position: relative;}
.ms-gallery img{width: 70%; display: block; margin: 1em auto; box-shadow: 0 0 3px rgba(0,0,0,.5)}
.ms-gallery h2{font-size: .85em; text-align: center; padding: 0 0 .6em 0; margin: 0; width: 100%; color: #D1CACA; font-weight: normal; text-shadow: 0 1px 0 #000;}
.ms-gallery a{text-decoration: none;}
.ms-gallery .ui-block-a:active,
.ms-gallery .ui-block-b:active,
.ms-gallery .ui-block-c:active{background-color:#202223;}
.ms-gallery .ui-block-a:active h2,
.ms-gallery .ui-block-b:active h2,
.ms-gallery .ui-block-c:active h2{color: #F8D384;}

/* ms-feed-list */
.ms-feed-list > li h2,
.ms-feed-list > li time{font-size: .75em}
.ms-feed-list .ui-li-aside{right: 1em;}

/* ms-timeline */
.ms-timeline{position: relative; margin: 0 1em;font-size: .8em; }
.ms-timeline p{margin: 0;}
.ms-timeline img{max-width: 100%;}
.ms-timeline .spine{height: 100%; width: 4px; background: #ccc; border-radius: 2px; position: absolute; left: 50%; margin-left: -2px}
.ms-timeline .column{width: 50%; position: relative;}
.ms-timeline .column-left{float: left;}
.ms-timeline .column-right{float: right;}
.ms-timeline .column-inner{border: 1px solid #ccc; border-radius: 3px; margin-bottom: 1em; padding: .4em;}
.ms-timeline .column-left .column-inner{margin-right: 1.5em;}
.ms-timeline .column-right .column-inner{margin-left: 1.5em;}
.ms-timeline .column-inner:before{border-top: 1px dashed #ccc;content: ''; position: absolute; display: block; width: 1.5em; height: 0px; top: 10px;}
.ms-timeline .column-left .column-inner:before{right: 0;}
.ms-timeline .column-right .column-inner:before{left: 0;}
.ms-timeline .column-inner:after{content: ' '; position: absolute; display: block; width: 8px; height: 8px; border-radius: 100%; background-color: #bbb; border: 1px solid #fff; box-shadow: 0 0 2px rgba(0,0,0,.2);}
.ms-timeline .column-left .column-inner:after{top: 5px; right: -5px;}
.ms-timeline .column-right .column-inner:after{top: 5px; left: -5px;}
.ms-timeline .separator{clear: both; height: 24px; line-height: 24px; margin-bottom: 1em; font-size: .9em;}
.ms-timeline .separator-inner{width: 60px; left: 50%; position: relative; margin-left: -30px; background-color: #eee; border: 1px solid #ccc; text-align: center; color: #fff; border-radius: 15px; font-weight: bold;}